@import './jumbo';

header{

    .bg-black{
        background-color: $dark;

        .container{
            height: 80px;

            nav{
                height: 100%;
                .top{
                    height: 30%;
                }
                .bottom{
                    height: 70%;
                    ul{
                        height: 100%;
                        list-style: none;
                        @include flex-center;
                        padding-bottom: 10px;       
                        li{
                            padding-top: 10px;
                            color: $header_text_color;
                            margin:  0 15px;
                            font-size: $fs-1;

                            &:hover{
                                cursor: pointer;
                            }

                            &.logo{
                                margin-left: -5px;
                                font-size: $fs-4;
                                
                            }
        
                            &.arrow-down::after{
                                font-family: "Font Awesome 5 Free"; 
                                font-weight: 900; 
                                content: "\f107";
                                padding:0 5px;
                            }
                        }
                    }
                }
            }
        }

    }
}