.links{
    .container{
        @include flex-center-around;
        padding: 0 15px;

        &:first-child{
            margin-right: auto;
            justify-self: left;
        }
        ul{
            list-style: none;

            & li a{
                text-decoration: none;
                color: rgba(0, 0, 0, 0.767);
                line-height: 2;
                font-size: .85em;

                &:hover{
                    color: blue;
                }
            }
        }

        .last-links{
            display: flex;
            flex-direction: column;
            
            span a{
                text-decoration: none;
                color: rgba(0, 0, 0, 0.767);
                line-height: 2;
                font-size: .85em;
                &:hover{
                    color: blue;
                }
            }
        }

        .social{
            margin-left: auto;
            justify-self: flex-end;
            
            & i{
                margin: 0 3px;
                padding: 6px 6px;
                color: white;
            }

            .fa-instagram{
                
                background-color: palevioletred;
            }

            .fa-facebook-f{
                padding: 6px 9px;
                background-color: blue;
            }

            .fa-twitter{
                background-color: blue;
            }

            .fa-youtube{
                background-color: red;
            }

            .fa-pinterest-p{
                background-color: red;
            }

            .fa-rss{
                background-color: orange;
            }
        }
    }
}